/*Modal*/

  #NavModalMenuHeader {
    font-size: 40px;
  }

  /* The Modal background */

  #nav-modal-open {
    display: block; /*Modal is visible*/
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(45, 69, 22 ,0.8); /* Black w/ opacity */
    padding-top: 50px;
    text-align: center;
  }

  /* Modal Content */
  #nav-modal-content {
    background-color: rgb(147, 202, 93);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Full width */
    height: 80%; /* Full height */
    display: inline-block;
  }

  /* The Close Button */
  #nav-modal-close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  #nav-modal-close:hover,
  #nav-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/*NAVBAR*/

  /*Overall container*/
  #fixed-bar-container{
    position: fixed;
    padding: 0px;
    margin: 0px;
    display: block;
    width: 100%;
    height: auto;
  }

  /*Navbar for Mobile*/

  @media only screen and (max-width: 880px) {

    #navBarToggler {
      display: inline-block;
      flex: 0.25;
      margin: 20px;
    }

    .nav a {
      display: none;
    }
  }

  /*General Navbar Settings*/

  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: white;
  }

  #navBarToggler {
    display: inline-block;
    flex: 0.25;
    margin: 20px;
  }

  .nav a {
    display: inline-block;
    font-size: 20px;
    margin: 20px;
    flex: 1;
    text-decoration: none;
  }

  #logo {
    display: inline-block;
    font-size: 20px;
    margin: 20px;
    flex: 3;
  }

  /*Contact Banner attached to the bottom of the nav*/

  #contactBannerContainer {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: #44b649;
  }

  #contactBanner {
    display: inline-block;
    font-size: 15px;
    margin: 10px;
    flex: 1;
    text-decoration: none;
    color: white;
  }
